.dictionary {
  padding: 20px 0px;
}
.search-form {
  width: 387px;
  display: table;
  margin: 0 auto;
  background-color: #fff;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
}
.suggested {
  font-family: "Oswald", sans-serif;
  color: #8971d0;
  font-size: 14px;
  text-align: center;
}
form {
  display: block;
  margin: 0 auto;
  width: 89%;
  margin-bottom: 10px;
}
.search {
  opacity: 0.7;
  border-radius: 7px;
  margin-right: 20px;
  height: 40px;
  padding: 5px;
  width: 70%;
}
.submit {
  background-color: #7dace4;
  color: #fff;
  border-radius: 7px;
  height: 40px;
}
.results {
  position: relative;
  width: 35%;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
}
span.results {
  text-align: center;
}
.results h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 800;
  color: #7dace4;
  display: inline;
}
.phonetics a {
  color: #8971d0;
  text-decoration: none;
  font-weight: 600;
}
.phonetics {
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
}
.phonetics .volume {
  font-family: "Oswald", sans-serif;
  color: #8971d0;
  font-weight: 600;
  margin-right: 10px;
}
.phonetics .volume:hover {
  cursor: pointer;
}
.meaning h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #8971d0;
}
.example {
  font-style: italic;
  margin-bottom: 5px;
}
.synonyms {
  color: #8971d0;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
  word-wrap: break-word;
  padding-left: 0px;
}
.synonyms li {
  list-style-type: none;
  padding-right: 10px;
  display: inline-block;
  line-height: 1;
}
.photos {
  border-radius: 20px;
  display: table;
  margin: 10px auto;
  margin-top: 20px;
  background-color: #fff;
  padding: 5px 10px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
}
.photos .row {
  width: 387px;
}
.photos img {
  width: 200px;
  border-radius: 10px;
  margin: 5px 0px;
}
@media only screen and (max-width: 1200px) {
  .results {
    width: 387px;
  }
}
@media only screen and (max-width: 420px) {
  .search-form {
    width: 75%;
  }
  .search {
    width: 65%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .submit {
    display: block;
    margin: 0 auto;
  }
  .results {
    width: 75%;
  }
  .photos {
    width: 75%;
  }
  .photos .row {
    width: unset;
  }
}
